/* Windows 95 Font from StackOverflow */
@font-face {
  font-family: "95font";
  src: url(./fonts/95font.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* Turn off eye comfort */
  font-family: "95font";
  -webkit-font-smoothing: none;
  font-smooth: never;
}

body, #root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
